.mainInfo {
    margin-top: 5rem;
}

.mainInfo .opportContainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,36vh);
    gap: 10px;
}

.mainInfo .opportContainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.mainInfo .opportContainer .textBlock {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
    align-items: start;
    border-radius: 2rem;
}

.opportContainer .big{
    background-color: red;
    grid-column-start: span 2;
}

main h1 {
    margin-bottom: 3rem;
}